.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.sectionTitle {
    font-size: 40px;
}